.product-form{
    width: 30rem;
    max-width: 90%;
    margin: auto;

}
.form-control{
    margin-top: 1rem 0;
}
.form-control label,
.from-control input {
    display: block;
    width: 1005;

}
.form-control input{
    border: 1px solid #dbc441;
    font:inherit;
    border-radius: 2px;
}
button {
    font:inherit;
    border: 1px solid #dbc441;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}
button:hover,
button:active{
    background-color: #6200ff;
    color: white;
}